@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="message">ici l'index de la page Users</div>


<p>ici on va faire tous les modifications concernant les utilisateurs</p>
<p>afficher tous les utilisateurs </p>

<div class="buttons">
    <button>ajouter</button>
    <button>supprimer</button>
    <button>update</button>
    <button>lister tous!</button>
</div>

